[submodule "submodules/pathogen"]
	path = submodules/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/indent-guides"]
	path = .vim/bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "submodules/sunburst"]
	path = submodules/sunburst
	url = https://github.com/gigamo/sunburst.vim.git
[submodule ".vim/bundle/addon-mw-utils"]
	path = .vim/bundle/addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/arpeggio"]
	path = .vim/bundle/arpeggio
	url = https://github.com/kana/vim-arpeggio
[submodule ".vim/bundle/tlib"]
	path = .vim/bundle/tlib
	url = git://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = git://github.com/edsono/vim-matchit.git
[submodule "submodules/tomorrow"]
	path = submodules/tomorrow
	url = git://github.com/chriskempson/tomorrow-theme.git
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = git://github.com/vim-scripts/vimwiki.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "submodules/sparkup"]
	path = submodules/sparkup
	url = git://github.com/rstacruz/sparkup.git
[submodule ".vim/bundle/diablo3"]
	path = .vim/bundle/diablo3
	url = git://github.com/vim-scripts/Diablo3.git
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/xoria256"]
	path = .vim/bundle/xoria256
	url = git://github.com/vim-scripts/xoria256.vim.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
