# Document structure
snippet d
	<!DOCTYPE html>
	<html>
		<head>
			<title>${1}</title>
		</head>
		<body>
			${2}
		</body>
	</html>
# Tags
snippet t
	<${1:tag}>${2}</$1>
snippet tt
	<${1:tag}>
		${2}
	</$1>
snippet a
	${1:attr}="${2}"${3}
