# Document structure
snippet d "HTML5 document" b
<!DOCTYPE html>
<html>
	<head>
		<title>$1</title>
	</head>
	<body>
		$2
	</body>
</html>
endsnippet

# Tags
snippet t "Inline element" i
<${1:tag}>$2</$1>
endsnippet

snippet T "Block element" i
<${1:tag}>
	$2
</$1>
endsnippet

snippet a "Attribute"
${1:attr}="$2"
endsnippet
