# jQuery snippets
snippet drf "Document ready function" b
$(function()
{
	$1	
});
endsnippet

snippet "(?<!q)q" "jQuery selector" wr
$($1)$0
endsnippet

snippet qq "jQuery quoted selector" w
$('$1')$0
endsnippet
