# Shorthand array syntax

snippet a "Array" w
[$1]
endsnippet

snippet a; "Array, terminated" w
[$1];
endsnippet

snippet a, "Array, comma" w
[$1],
endsnippet

snippet A "Multi-line array" w
[
	$1
]
endsnippet

snippet A; "Multi-line array, terminated" w
[
	$1
];
endsnippet
