# jQuery snippets
snippet drf "Document ready function" b
$(function()
{
	$1	
});
endsnippet

snippet q "jQuery selector"
$('$1')
endsnippet

# Prototypes
snippet cx "Prototype extension" b
$.extend(${1:ChildPrototype}.prototype, ${2:ParentPrototype});
endsnippet
